<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a th:href="@{/admin/secretRegister}">Dodaj nowego administratora</a>
	<br>
	<a th:href="@{/admin/addProduct}">Dodaj produkt</a>
	<br>
	<a th:href="@{/admin/updateProduct}">Edytuj produkt</a>
	<br>
	<a th:href="@{/admin/updateDiscount}">Ustaw znizke na produkt</a>
	<br>
	<a th:href="@{/showAllProducts}">Lista wszystkich produktów</a>
	<br>
	<a th:href="@{/admin/orderNumber}">Znajdz zamowienie po numerze zamówienia</a>
	<br>
	<a th:href="@{/admin/orderDate}">Znajdz zamowienie po dacie</a>
	<br>
	<a th:href="@{/admin/addDiscountCode}">Dodaj kupon znizkowy do bazy</a>
</body>
</html>




