<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<h1>Zmiana hasła</h1>
	<form action="#" th:action="@{/profile/password}" method="post" th:object="${user}">
		<p>Wpisz stare hasło</p>
		<p th:errors="*{oldPassword}"></p>
		<input th:field="*{oldPassword}" placeholder="old password" /><br/>
		<p>Wpisz nowe haslo</p>
		<p th:errors="*{newPassword}"></p>
		<input th:field="*{newPassword}" placeholder="new password" /><br/>	
		<p><input type="submit" value="Login"/></p>
</body>
</html>